.select {
  background: #fafafa;
  border: 1px solid #fafafa;
  padding: 18.5px 14px;
  width: 35%;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 15px;
}
.textarea-description {
  width: 100%;
  margin-top: 15px;
  background: #fafafa;
  border-color: #fafafa;
  padding: 25px;
  border-radius: 6px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .select {
    width: 100%;
    padding: 18.5px 14px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .select {
    width: 100%;
    padding: 18.5px 14px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .select {
    width: 100%;
    padding: 18.5px 14px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .select {
    width: 100%;
    padding: 18.5px 14px;
  }
}
