.select {
  background: #fafafa;
  border: 1px solid #fafafa;
  padding: 18.5px 14px;
  width: 35%;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 15px;
}
.textarea-description {
  width: 100%;
  margin-top: 15px;
  background: #fafafa;
  border-color: #fafafa;
  padding: 25px;
  border-radius: 6px;
}
