$main-color: #e74645;
$hover-white: #fff;
.skills-container {
  .skills-btn {
    width: 8%;

    border-radius: 7px;
    margin: auto;
    color: $main-color;
    padding: 7px;
    background: transparent;
    border: 1px solid $main-color;
    cursor: pointer;
    margin-top: 15px;
  }
  &:hover {
    background: $hover-white;
  }
}
