$main-color: #e74645;
$secondary-color: #fff;
$base-color: #585772;

.extra-info-btn {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  background: $main-color;
  color: $secondary-color;
  font-size: 14px;
  border-color: $main-color;
  border-style: solid;
  border-width: 2px;
  border-radius: 22px;
  padding: 10px 40px;
  text-transform: uppercase;
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    color: $main-color;
    background: $secondary-color;
    border-color: $main-color;
    transition: all 0.2s linear;
    cursor: pointer;
  }
}
.avatar-wrapper {
  // padding: 50px;
  cursor: pointer;
  background: #fafafa;
  width: 148px;
  height: 148px;
  display: flex;
  position: relative;
  transition: 0.3s ease-in all;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
}
.avatar-center {
  font-size: 67px;
  text-align: center;
  display: flex;
}
.MuiOutlinedInput-input {
  background: #fafafa !important;
}
.MuiOutlinedInput-notchedOutline {
  border-color: #fafafa !important;
  // background: #fafafa !important;
}
.step-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9vh;
  padding-bottom: 15px;
}
.styles_branding___BNJr {
  display: none !important;
}
