@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
}
.MuiFormLabel-root.Mui-focused {
  color: #e74645 !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #e74645 !important;
  border-width: 2px;
}
.MuiDialog-paperFullWidth {
  border-radius: 11px !important;
}
