$main-color: #e74645;

header {
  display: flex !important;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex: 1;
}
.logo {
  font-weight: 400;
  margin: 5px;
}
nav {
  flex: 2;
}
.nav-links {
  justify-content: space-around;
  list-style: none;
}
.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
  &:hover {
    color: $main-color;
  }
}
.cart {
  flex: 1;
  justify-content: flex-end;
}
.active {
  color: $main-color;
}
.MuiStepIcon-root.MuiStepIcon-active {
  color: $main-color !important;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: $main-color !important;
}
